.navItem {
    flex-direction: column;
    align-items: center;
    gap: 5px;
    display: flex;
  }
  
  .navLabel {
    color: #252525;
    font-family: Roboto, sans-serif;
    font-size: 15px;
    font-weight: 600;
  }
  
  @media (width <= 640px) {
    .navLabel {
      font-size: 13px;
    }
  }
  