@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swaphttps://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Schibsted+Grotesk&display=swap");

.flash-reports {
  font-family: "Bricolage Grotesque", sans-serif;
}


.custom-hover:hover {
  color: green !important;
}


.shining-white {
  position: relative;
  color: white;
  font-weight: 600;
  font-size: clamp(14px, 2.5vw, 22px);
  line-height: 1.4;
  text-shadow: 0 1px 1px #aaa, 0 2px 2px rgba(0,0,0,0.2);
  overflow: hidden;
}

.shining-white::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(192, 192, 192, 0.6) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  animation: gleam-sweep 2s infinite;
  z-index: 1;
  pointer-events: none;
}

@keyframes gleam-sweep {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}


.flash-banner {
  aspect-ratio: 4.17 / 1; /* keeps the banner ratio */
  position: relative;
  width: 100%;
}

/* Hide mobile by default, show desktop */
.banner-desktop {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}

/* Hide desktop by default, show mobile */
.banner-mobile {
  display: none;
  position: relative;
  aspect-ratio: 1 / 1;
  width: 100%;
}


/* Media query for mobile devices */
@media (max-width: 767px) {
  .banner-desktop {
    display: none;
  }

  .banner-mobile {
    display: block;
  }
}

/* Ensure images fill container and scale */
.image-fit {
  object-fit: cover;
}


